{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "progressBar": true,
    "useTabs": true,
    "tabWidth": 2
}
